main
{
	max-width: 800px;
	margin: 0 auto;
	line-height: 1.5;
	background-color: #2D0000;
	padding: 10px 20px 5px 30px;
	border: 1px solid #FFA8A8;
}
.audio-player
{
	max-width: 600px;
	min-width: 50%;
	border: 1px solid #FFA8A8;
	height: 110px;
	padding: 10px;
	background-color: #230000;
}
.song-history
{
	min-width: 95%;
	min-height: 350px;
}
body
{
	font-family: sans-serif;
	color: #FFE0E0;
	background-color: #230000;
}
a{
	color: #FFE0E0;
}
p a.page-link
{
	position: relative;
	text-shadow: 0 -10px 150px, 0 0 1px, 0 0 0.5em #ff4444, 0 0 0.5em #ff4444, 0 1px 1px #000;
}
p a.page-link::before
{
	content: '⇒';
	color: #999;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	left: -1.25rem;
}
.footer
{
	text-align: center;
	font-size: 10pt;
}
h1
{
	text-shadow: 0 -20px 150px, 0 0 2px, 0 0 0.5em #ff4444, 0 0 0.5em #ff4444, 0 1px 1px #000;
}