main
{
	max-width: 800px;
	margin: 0 auto;
	line-height: 1.5;
	background-color: white;
	padding: 10px 20px 5px 30px;
}
.audio-player
{
	max-width: 600px;
	min-width: 50%;
	border: 1px solid black;
	height: 110px;
	padding: 10px;
}
.song-history
{
	min-width: 95%;
	min-height: 350px;
}
body
{
	font-family: sans-serif;
	color: #333;
	background-color: #eee;
}
p a
{
	position: relative;
}
p a::before
{
	content: '⇒';
	color: #999;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	left: -1.25rem;
}
.footer
{
	text-align: center;
	font-size: 10pt;
}