main
{
	max-width: 800px;
	margin: 0 auto;
	line-height: 1.25;
	background-color: #f7f7f7;
	padding: 10px 30px 15px 40px;
	border: 1px solid #aaa;
}
body
{
	font-family: sans-serif;
	color: #222;
}
h1{
	text-decoration: underline 2px dashed;
	font-family: monospace;
}
h2{
	font-weight: normal;
	font-size: 1.25rem;
}
.footer
{
	text-align: center;
	font-size: 10pt;
}
p a.page-link
{
	position: relative;
}
p a.page-link::before
{
	content: '⇒';
	color: #666;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	left: -1.25rem;
}